@import "~taro-ui/dist/style/components/tab-bar.scss";
@import "~taro-ui/dist/style/components/badge.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "../../custom-theme.scss";
.main {
  background: var(--color-white);
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.selectBox {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  border: 1px solid $color-black;
  background: $color-black;
  margin: 1rem 1rem;
  height: 8rem;
  .cb {
    font-size: 1rem;
    flex: 1;
    display: flex;
    justify-content: center;
  }
  &_left {
    border-right: 1px solid $color-gray;
  }
}

.footer {
  display: flex;
  &_jifen {
    flex: 5;
  }
  &_erweima {
    flex: 1;
  }
}
